@model List<MovieSessionForMovieViewModel>
    
@if (Model.Count == 0)
{
    <span id="no-movie-session">No sessions</span>
    <a asp-controller="Home" asp-action="Index">Pick other movie</a>
}
else
{
    <span id="movie-session-title" class="d-block mb-3">Sessions</span>

    var temp = from t in Model
        group t by new {t.Cinema.Id, t.Cinema.Name} into g
        select new
        {
            Cinema = g.Key,
            MovieSessions = g
        };

    foreach (var item in temp)
    {
        <a id="movie-session-cinema-name" class="d-block font-weight-bold mb-2" asp-controller="Cinema" asp-action="Get" asp-route-id="@item.Cinema.Id">
            @item.Cinema.Name.ToUpper(CultureInfo.CurrentUICulture)
        </a>
        foreach (MovieSessionForMovieViewModel session in item.MovieSessions)
        {
            <div id="movie-session" class="d-inline-block text-center mr-2 mb-2">
                <span id="movie-session-time" data-movie-session-id="@session.Id" class="d-block buy-ticket-modal-button" data-toggle="tooltip" title="from @session.MinPrice.ToString("F", CultureInfo.CurrentUICulture)">@session.Time.ToString("t", CultureInfo.CurrentUICulture)</span>
                <span id="movie-session-format">@session.Format.ToLower(CultureInfo.CurrentUICulture)</span>
            </div>
        }
        <hr />
    }

    <div id="modals">

    </div>
}

<script>
    $(function() {
        $(".buy-ticket-modal-button").click(function() {
            $.get(
                '@Url.Action("BuyTicket")',
                {
                    sessionId: $(this).attr('data-movie-session-id')
                }
            ).done(function(data) {
                $("#modals").html($(data));
                $("#buyTicketModal").modal();
            });
        });
    });
</script>