@model MovieInfoViewModel

@{
    ViewBag.Title = $"Фильм {Model.Name}";
}

<div class="row mt-2">
    <div class="col-lg-3 float-left d-block" data-toggle="modal" data-target="#trailer-modal">
        <img class="w-100" src="~/images/movie-poster.jpg" alt="Movie poster"/>
        <a class="d-block rounded-link mt-2 text-center" href="#">
            <span>
                Трейлер
            </span>
        </a>
        <!-- Modal -->
        <div class="modal fade h-100" id="trailer-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg h-100" role="document">
                <div class="modal-content h-75">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Трейлер: @Model.Name</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body h-75">
                        <iframe id="videowrapper" class="w-100 h-100" src="https://www.youtube.com/embed/C8qBigNV1xs?asdasd" frameborder="0" allowfullscreen></iframe>
                    </div>
                    <div class="modal-footer">
                        <button id="close-modal-btn" type="button" class="btn btn-danger" data-dismiss="modal"><span>Закрыть</span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-7">
        <div class="row">
            <div class="col-lg-12 mb-3">
                <h2>@Model.Name</h2>
            </div>
        </div>
        <dl class="row">
            <dt class="col-lg-2 float-left d-block mw-8rem">
                @Html.DisplayNameFor(m => m.AgeLimit):
            </dt>
            <dd class="col-lg-10 float-left d-block">
                @Html.DisplayFor(m => m.AgeLimit)+
            </dd>
            <dt class="col-lg-2 float-left d-block mw-8rem">
                @Html.DisplayNameFor(m => m.OriginalName):
            </dt>
            <dd class="col-lg-10 float-left d-block">
                @Html.DisplayFor(m => m.OriginalName)
            </dd>
            <dt class="col-lg-2 float-left d-block mw-8rem">
                @Html.DisplayNameFor(m => m.ReleaseDate):
            </dt>
            <dd class="col-lg-10 float-left d-block">
                @Model.ReleaseDate.ToString("d", CultureInfo.CurrentUICulture)
            </dd>
            <dt class="col-lg-2 float-left d-block mw-8rem">
                @Html.DisplayNameFor(m => m.Duration):
            </dt>
            <dd class="col-lg-10 float-left d-block">
                @Html.DisplayFor(m => m.Duration) мин
            </dd>
            <dt class="col-lg-2 float-left d-block mw-8rem">
                @Html.DisplayNameFor(m => m.Countries):
            </dt>
            <dd class="col-lg-10 float-left d-block">
                @Html.DisplayList(Model.Countries)
            </dd>
            <dt class="col-lg-2 float-left d-block mw-8rem">
                @Html.DisplayNameFor(m => m.Actors):
            </dt>
            <dd class="col-lg-10 float-left d-block">
                @Html.DisplayList(Model.Actors)
            </dd>
            <dt class="col-lg-2 float-left d-block mw-8rem">
                @Html.DisplayNameFor(m => m.Directors):
            </dt>
            <dd class="col-lg-10 float-left d-block">
                @Html.DisplayList(Model.Directors)
            </dd>
            <dt class="col-lg-2 float-left d-block mw-8rem">
                @Html.DisplayNameFor(m => m.Languages):
            </dt>
            <dd class="col-lg-10 float-left d-block">
                @Html.DisplayList(Model.Languages)
            </dd>
            <dt class="col-lg-2 float-left d-block mw-8rem">
                @Html.DisplayNameFor(m => m.Writers):
            </dt>
            <dd class="col-lg-10 float-left d-block">
                @Html.DisplayList(Model.Writers)
            </dd>
            <dt class="col-lg-2 float-left d-block mw-8rem">
                @Html.DisplayNameFor(m => m.Genres):
            </dt>
            <dd class="col-lg-10 float-left d-block">
                @{
                    int i;
                    for (i = 0; i < Model.Genres.Count - 1; i++)
                    {
                        <a asp-controller="Genre" asp-action="Get" asp-route-id="@Model.Genres[i].Id">@Model.Genres[i].Name</a>
                        <span>,</span>
                    }
                    <a asp-controller="Genre" asp-action="Get" asp-route-id="@Model.Genres[i].Id">@Model.Genres[i].Name</a>
                }
            </dd>
            <dd class="col-lg-12 my-3">
                @Html.DisplayFor(m => m.Description)
            </dd>
        </dl>
        <div class="row px-3">
            <div class="col-lg-12">
                <h5 class="row mb-3">
                    Отзывы о фильме @Html.DisplayFor(m => m.Name)
                </h5>
                <div class="row mb-2">
                    <div>
                        <a id="like" class="mr-2">
                            <span class="pl-5 pr-3 py-2 rounded movie-like-dislike">
                                Лайк 
                                @Model.Likes
                            </span>
                        </a>
                        <a id="dislike" class="rounded ml-2">
                            <span class="pl-5 pr-3 py-2 rounded movie-like-dislike text-center">
                                Дизлайк
                                @Model.Dislikes
                            </span>
                        </a>
                    </div>
                    <div id="comment-numbers" class="m-auto">
                        <a>
                            <span class="pl-5 pr-3 py-2 text-center rounded">
                                Коментарий(@Model.Comments.Count)
                            </span>
                        </a>
                    </div>
                </div>
                <div class="row">
                    @{ await Html.RenderPartialAsync("_Comments", Model.Comments); }
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-2" style="overflow-y: auto;">
        @{ await Html.RenderPartialAsync("_MovieSessionsForMovie", Model.MovieSessions);}
    </div>
</div>
